html, body, #cesiumContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #0B1C24;
  touch-action: none;
}

.cesium-viewer-bottom,
.cesium-viewer-animationContainer,
.cesium-viewer-timelineContainer,
.cesium-viewer-fullscreenContainer,
.cesium-viewer-vrContainer {
  display: none !important;
}

.cesium-viewer-toolbar {
  display: none !important;
}

.cesium-credit-logoContainer,
.cesium-credit-textContainer {
  display: none !important;
}
